.page.home {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  .page.home .login-form {
    width: 400px;
    padding: 40px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .page.home .login-form input, .page.home .login-form button {
      display: block;
      border: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 10px; }
    .page.home .login-form button {
      outline: none !important;
      background-color: #c76131;
      color: white;
      font-weight: 700;
      border-bottom: 2px solid #8e4624; }
      .page.home .login-form button:hover {
        background-color: #8e4624; }
      .page.home .login-form button:focus {
        outline: none !important; }
    .page.home .login-form input {
      background: rgba(255, 255, 255, 0.5); }
      .page.home .login-form input#password {
        margin-top: 40px;
        margin-bottom: 40px; }

/*# sourceMappingURL=home.css.map */
