<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un joueur</title>
    <style>
        input {
            padding: 5px;
            margin: 10px;
        }
        select {
            padding: 5px;
            margin: 10px;
        }
        button {
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            border: none;
        }
        button:hover {
            background-color: orange;
            color: white;
        }
    </style>
</head>
<body>
    <div class="player-form">
        <input placeholder="Prénom" /><br>
        <input placeholder="Nom" /><br>
        <label>
            <select>
                <option selected>Sexe</option>
                <option value="0">M</option>
                <option value="1">F</option>
            </select>
        </label><br>
        <label>
            <select>
                <option selected>Nationalité</option>
                <option value="FR">FR</option>
                <option value="ES">ES</option>
            </select>
        </label><br>
        <button>Enregistrer le joueur</button>
    </div>
</body>
</html>