<header>
    <div class="header-content">
        <a href="/">
            <img src="{{ asset('bundles/rolandgarroscore/image/rglogo.png') }}" alt="Roland Garros logo" />
        </a>
        <h1>Roland-Garros</h1>
        <span>Espace organisateur</span>
    </div>
</header>