{% extends 'RolandGarrosCoreBundle::layout.html.twig' %}
{% block header %}
    {% include '@RolandGarrosCore/header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="page home">
        <div class="login-form">
            <input id="login" placeholder="Login" required />
            <input id="password" type="password" placeholder="Mot de passe" required />
            <button>Se connecter</button>
        </div>
    </div>
{% endblock %}