<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Rolland Garros{% endblock %}</title>
        {% stylesheets
            'bundles/rolandgarroscore/css/main.css'
            'bundles/rolandgarroscore/css/home.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    {% block header %}
        <header>
            <div class="header-content">
                <h1>Roland Garros</h1>
            </div>
        </header>
    {% endblock %}
    {% block body %}
    {% endblock %}
</html>
