.page.home {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  .login-form {
    width: 400px;
    padding: 40px;
    height: auto;
    background-color: rgba(255, 255, 255, .4);
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    input, button {
      display: block;
      border: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 10px;
    }
    button {
      outline: none !important;
      background-color: #c76131;
      color: white;
      font-weight: 700;
      border-bottom: 2px solid #8e4624;
      &:hover {
        background-color: #8e4624;
      }
      &:focus {
        outline: none !important;
      }
    }
    input {
      background: rgba(255, 255, 255, .5);
      &#password {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
}