@font-face {
  font-family: 'rg_title_bold';
  src: url("../bundles/rolandgarroscore/fonts/rg_title_bold-webfont.ttf"); }
@font-face {
  font-family: 'rg_text_regular';
  src: url("../bundles/rolandgarroscore/fonts/rg_text_regular-webfont.ttf"); }
body {
  margin: 0;
  background: url("../bundles/rolandgarroscore/image/terre-battue.jpg") no-repeat;
  background-size: cover;
  font-family: 'rg_text_regular', sans-serif; }

body * {
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

header {
  background-color: white;
  width: 100%;
  border-bottom: 10px solid #00503c; }
  header .header-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    position: relative; }
    header .header-content h1 {
      font-family: 'rg_title_bold', sans-serif;
      font-size: 20px;
      font-weight: 400;
      margin: 0; }
    header .header-content span {
      font-family: 'rg_text_regular', sans-serif; }
    header .header-content h1, header .header-content span {
      margin-left: 95px;
      color: #555555; }
    header .header-content img {
      float: left;
      position: absolute;
      top: 13px; }

button {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
